body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  align-items: center;
  text-align: center;
}
.heading{
  font-size: 50px;
  margin: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.delete-button{
  background-color: darkred;
  color: #fff;
}
.create-button{
  background-color: goldenrod;
}
.form-button{
  background-color: darkgreen;
  color: #fff;
  margin-top: 8px;
}
input{
  font-size: 20px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 6px;
  color: #333;
  height: 30px;
  background-color: #3d3c3c;
  color: #fff;
  border: 1px solid #fff;
  padding-left: 4px;
}
select{
  font-size: 20px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 6px;
  color: #333;
  height: 30px;
  background-color: #3d3c3c;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
::placeholder {
  color: #cdcdcd;
  opacity: 1;
}
